<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="KaplanNursing">

<listeners>
    <listener class-name="com.selenium.listener.TestListenerAdapter" />
</listeners>


<test name="KaplanNursing">


    <classes>
        <class name="com.selenium.test.DriverScript" ></class>  
    </classes>
</test>


</suite>
